.mx-itself {
  height: 55px;
  width: 100%;
  background-color: #ecf0f1;
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  box-shadow: 0 -1px 4px 1px #e7e7e7; }
  .mx-itself .row {
    margin-right: 0;
    margin-left: 0; }
  .mx-itself .col-lg-1, .mx-itself .col-lg-10, .mx-itself .col-lg-11, .mx-itself .col-lg-12, .mx-itself .col-lg-2, .mx-itself .col-lg-3, .mx-itself .col-lg-4, .mx-itself .col-lg-5, .mx-itself .col-lg-6, .mx-itself .col-lg-7, .mx-itself .col-lg-8, .mx-itself .col-lg-9, .mx-itself .col-md-1, .mx-itself .col-md-10, .mx-itself .col-md-11, .mx-itself .col-md-12, .mx-itself .col-md-2, .mx-itself .col-md-3, .mx-itself .col-md-4, .mx-itself .col-md-5, .mx-itself .col-md-6, .mx-itself .col-md-7, .mx-itself .col-md-8, .mx-itself .col-md-9, .mx-itself .col-sm-1, .mx-itself .col-sm-10, .mx-itself .col-sm-11, .mx-itself .col-sm-12, .mx-itself .col-sm-2, .mx-itself .col-sm-3, .mx-itself .col-sm-4, .mx-itself .col-sm-5, .mx-itself .col-sm-6, .mx-itself .col-sm-7, .mx-itself .col-sm-8, .mx-itself .col-sm-9, .mx-itself .col-xs-1, .mx-itself .col-xs-10, .mx-itself .col-xs-11, .mx-itself .col-xs-12, .mx-itself .col-xs-2, .mx-itself .col-xs-3, .mx-itself .col-xs-4, .mx-itself .col-xs-5, .mx-itself .col-xs-6, .mx-itself .col-xs-7, .mx-itself .col-xs-8, .mx-itself .col-xs-9 {
    padding-right: 0;
    padding-left: 0; }

.extension-mx-tab, .mx-contacts-wrapper, .mx-keypad-wrapper, .mx-recents-wrapper, .mx-incoming-call-wrapper {
  position: absolute;
  width: 100%;
  bottom: 100%;
  left: 0;
  background-color: #ecf0f1;
  margin-bottom: 3px;
  border: 1px solid #fdfaed;
  box-shadow: 0 -1px 4px 1px #e7e7e7; }

.mx-control-panel {
  height: 55px;
  min-width: 235px;
  background-color: #26ad5e;
  padding: 10px 23px;
  position: relative; }

.mx-control-panel-items {
  padding: 0; }
  .mx-control-panel-items li {
    list-style-type: none; }
  .mx-control-panel-items .active .mx-icon-contact-white {
    background-position: -35px -70px; }
  .mx-control-panel-items .active .mx-icon-keypad-white {
    background-position: -35px -33px; }
  .mx-control-panel-items .active .mx-icon-recents {
    background-position: -35px 0; }
  .mx-control-panel-items .mx-icon-contact-white {
    margin-top: 11px; }
  .mx-control-panel-items .mx-icon-keypad-white {
    margin-top: 5px; }
  .mx-control-panel-items .mx-icon-recents {
    margin-top: 7px; }

.mx-toggle-panel {
  padding: 18px 18px 0 0; }
  .mx-toggle-panel .mx-icon-itself-settings {
    padding-right: 25px;
    margin-right: 7px;
    border-right: 1px solid #bec3c7; }

.mx-contacts-wrapper {
  width: 200%; }

.mx-contacts-header {
  background-color: #2b84ba;
  padding: 15px; }

.mx-contacts-text-tab-header {
  font-size: 18px;
  color: #fff;
  line-height: 20px;
  margin-left: 10px;
  float: left; }

.mx-contacts-icon-close {
  position: absolute;
  top: 4px;
  right: 4px; }

.mx-contacts-search-wrapper {
  background-color: #e8edf0;
  padding: 12px; }

.mx-search-form {
  border-radius: 21px;
  border: 1px solid #bec3c7;
  text-indent: 21px;
  color: #bec3c7;
  font-size: 18px;
  padding: 5px 40px 5px 5px !important;
  outline: none;
  position: relative;
  z-index: 1;
  float: left; }

.mx-icon-search__contacts {
  float: left;
  position: relative;
  z-index: 2;
  margin-left: -40px;
  margin-top: 6px; }

.mx-contacts-item-wrapper {
  height: 370px;
  overflow-y: scroll; }

.mx-contacts-item {
  padding: 4px 6px 4px 6px;
  margin-bottom: 8px;
  border-bottom: 1px solid #d6dcdd;
  position: relative; }

.mx-contacts-avatar {
  background-color: #7e8c8d;
  padding: 23px;
  width: 70px;
  height: 70px; }

.mx-contacts-name {
  padding-top: 5px;
  font-size: 15px;
  color: #161719;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.mx-contacts-number {
  padding-top: 5px;
  font-size: 14px;
  font-family: 'Oswald', 'Roboto', sans-serif;
  color: #e94c3d; }

.mx-contacts-company-info {
  border-left: 1px solid #c3c8cc;
  margin-left: 5px;
  padding-left: 5px; }

.mx-contacts-company-group {
  border-bottom: 1px solid #d6dcdd;
  padding-bottom: 7px;
  color: #b36530;
  text-align: right;
  font-size: 14px; }

.mx-contacts-company-item {
  padding-top: 15px; }

.mx-contacts-company-name {
  font-size: 12px;
  color: #535c69; }

.mx-contacts-company-brand-name {
  font-size: 12px;
  color: #8f9396; }

.mx-keypad-wrapper {
  padding: 3px; }
  .mx-keypad-wrapper .mx-keypad-figure {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
    .mx-keypad-wrapper .mx-keypad-figure:hover {
      cursor: pointer;
      background-color: #e8eced; }
    .mx-keypad-wrapper .mx-keypad-figure:active {
      box-shadow: inset 0 0 8px 0 #d6dbde; }
  .mx-keypad-wrapper span {
    font-size: 32px;
    line-height: 64px;
    color: #34495e; }

.mx-keypad-area {
  padding: 0 18px;
  text-align: center; }

.mx-keypad-number {
  border-bottom: 1px solid #c1c6ca;
  margin-bottom: 3px;
  padding-bottom: 15px;
  text-align: center; }
  .mx-keypad-number span {
    font-family: 'Oswald', 'Roboto', sans-serif;
    color: #535c69;
    letter-spacing: 2px;
    text-align: center;
    font-size: 22px;
    line-height: 22px; }

.mx-keypad-phone {
  min-height: 55px;
  padding: 8px; }

.mx-keypad-phone__call {
  padding: 4px;
  float: none; }

.mx-recents-item {
  padding: 4px 6px;
  border: 1px solid transparent;
  position: relative; }
  .mx-recents-item:hover {
    border: 1px solid #7e8c8d; }

.mx-recents-avatar {
  background-color: #7e8c8d;
  padding: 16px;
  width: 80%; }

.mx-recents-name {
  padding-top: 5px;
  font-size: 15px;
  color: #161719;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.mx-recents-number {
  padding-top: 5px;
  font-size: 14px;
  font-family: 'Oswald', 'Roboto', sans-serif;
  color: #e94c3d; }

.mx-icon-close-red__top-right {
  position: absolute;
  top: 0;
  right: 0; }

.mx-incoming-call-header {
  background-color: #26ad5e;
  padding: 15px; }

.mx-incoming-call-text-tab-header {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  margin-left: 10px;
  text-align: center; }

.mx-incoming-call-icon-close {
  position: absolute;
  top: 4px;
  right: 4px; }

.mx-incoming-call-avatar-wrapper {
  padding-top: 15px; }

.mx-incoming-call-avatar {
  background-color: #34495e;
  padding: 23px;
  margin-bottom: 15px;
  width: 95px;
  height: 95px; }

.mx-incoming-call-phone-number {
  color: #161719;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #bec3c7;
  padding-bottom: 5px;
  margin-bottom: 10px; }

.mx-incoming-call-from {
  text-align: center;
  color: #8f9396;
  font-size: 12px;
  margin-bottom: 10px; }

.mx-incoming-call-meta-info {
  text-align: center;
  color: #34495e;
  font-size: 12px;
  margin-bottom: 15px; }

.mx-incoming-call-func-buttons-wrapper {
  margin-bottom: 15px; }
  .mx-incoming-call-func-buttons-wrapper .mx-button {
    width: 92%;
    min-height: 32px;
    padding-top: 9px;
    margin: 0 auto;
    position: relative; }
  .mx-incoming-call-func-buttons-wrapper .mx-icon-add-small {
    position: absolute;
    top: 1px;
    left: 6px; }
  .mx-incoming-call-func-buttons-wrapper .mx-icon-phone-white-down-small {
    margin-top: 3px; }
  .mx-incoming-call-func-buttons-wrapper .mx-icon-phone-white-center-medium {
    position: absolute;
    top: -5px;
    left: 10px; }

.mx-incoming-call-info-buttons-wrapper {
  margin-bottom: 15px; }
  .mx-incoming-call-info-buttons-wrapper .mx-button {
    width: 92%;
    min-height: 32px;
    padding-top: 5px;
    margin: 0 auto;
    position: relative; }

.mx-incoming-call-button-capture {
  color: #fff;
  font-size: 12px;
  text-align: center; }

.mx-button {
  border-radius: 21px; }
  .mx-button:hover {
    cursor: pointer; }

.mx-button-transparent {
  background-color: transparent;
  border: 1px solid #c7cbcd; }

.mx-button-green {
  background-color: #26ad5e; }

.mx-button-blue-light {
  background-color: #2881b9; }

.mx-button-blue-dark {
  background-color: #34495e; }

.mx-button-red {
  background-color: #e94c3d; }

.mx-icon-recents,
.mx-icon-keypad-white,
.mx-icon-keypad-green,
.mx-icon-contact-white,
.mx-icon-contact-green,
.mx-icon-itself-toggle,
.mx-icon-itself-settings,
.mx-icon-mic,
.mx-icon-add-small,
.mx-icon-phone-white-right-large,
.mx-icon-phone-green-right-large,
.mx-icon-phone-transparent-left-large,
.mx-icon-phone-white-center-medium,
.mx-icon-phone-white-down-small,
.mx-icon-person-large,
.mx-icon-person-small,
.mx-icon-info-def-white,
.mx-icon-info-def-yellow,
.mx-icon-info-def-green,
.mx-icon-info-italic,
.mx-icon-search,
.mx-icon-poi,
.mx-icon-backspace,
.mx-icon-close-red,
.mx-icon-close-white {
  background: url("../img/mx-icons-sprite.png");
  cursor: pointer; }
  .mx-icon-recents:hover,
  .mx-icon-keypad-white:hover,
  .mx-icon-keypad-green:hover,
  .mx-icon-contact-white:hover,
  .mx-icon-contact-green:hover,
  .mx-icon-itself-toggle:hover,
  .mx-icon-itself-settings:hover,
  .mx-icon-mic:hover,
  .mx-icon-add-small:hover,
  .mx-icon-phone-white-right-large:hover,
  .mx-icon-phone-green-right-large:hover,
  .mx-icon-phone-transparent-left-large:hover,
  .mx-icon-phone-white-center-medium:hover,
  .mx-icon-phone-white-down-small:hover,
  .mx-icon-person-large:hover,
  .mx-icon-person-small:hover,
  .mx-icon-info-def-white:hover,
  .mx-icon-info-def-yellow:hover,
  .mx-icon-info-def-green:hover,
  .mx-icon-info-italic:hover,
  .mx-icon-search:hover,
  .mx-icon-poi:hover,
  .mx-icon-backspace:hover,
  .mx-icon-close-red:hover,
  .mx-icon-close-white:hover {
    opacity: 0.6; }

.mx-icon-recents {
  background-position: -2px 0;
  width: 27px;
  height: 27px; }

.mx-icon-keypad-white {
  background-position: -1px -32px;
  width: 26px;
  height: 34px; }

.mx-icon-keypad-green {
  background-position: -35px -33px;
  width: 26px;
  height: 34px; }

.mx-icon-contact-white {
  background-position: -1px -70px;
  width: 28px;
  height: 18px; }

.mx-icon-contact-green {
  background-position: -35px -70px;
  width: 28px;
  height: 18px; }

.mx-icon-itself-toggle {
  background-position: 0 -93px;
  width: 26px;
  height: 21px; }

.mx-icon-itself-settings {
  background-position: -1px -123px;
  width: 21px;
  height: 20px; }

.mx-icon-mic {
  background-position: -2px -148px;
  width: 12px;
  height: 22px; }

.mx-icon-add-small {
  background-position: -1px -176px;
  width: 14px;
  height: 13px; }

.mx-icon-phone-white-right-large {
  background-position: 0 -199px;
  width: 31px;
  height: 30px; }

.mx-icon-phone-green-right-large {
  background-position: -32px -200px;
  width: 31px;
  height: 30px; }

.mx-icon-phone-transparent-left-large {
  background-position: -67px -200px;
  width: 19px;
  height: 31px; }

.mx-icon-phone-white-center-medium {
  background-position: -90px -205px;
  width: 10px;
  height: 25px; }

.mx-icon-phone-white-down-small {
  background-position: -102px -220px;
  width: 25px;
  height: 9px; }

.mx-icon-person-large {
  background-position: -1px -232px;
  width: 46px;
  height: 53px; }

.mx-icon-person-small {
  background-position: -53px -261px;
  width: 20px;
  height: 23px; }

.mx-icon-info-def-white {
  background-position: -1px -287px;
  width: 27px;
  height: 27px; }

.mx-icon-info-def-yellow {
  background-position: -32px -288px;
  width: 27px;
  height: 27px; }

.mx-icon-info-def-green {
  background-position: -63px -288px;
  width: 27px;
  height: 27px; }

.mx-icon-info-italic {
  background-position: -95px -294px;
  width: 21px;
  height: 21px; }

.mx-icon-search {
  background-position: 0 -320px;
  width: 30px;
  height: 24px; }

.mx-icon-poi {
  background-position: 0 -351px;
  width: 28px;
  height: 34px; }

.mx-icon-backspace {
  background-position: -2px -388px;
  width: 34px;
  height: 23px; }

.mx-icon-close-red {
  background-position: 0 -415px;
  width: 16px;
  height: 16px; }

.mx-icon-close-white {
  background-position: -18px -416px;
  width: 16px;
  height: 16px; }
