// COLORS
$mx-color_athens_gray: #ecf0f1;
$mx-color_mercury: #e7e7e7;
$mx-color_orange_white: #fdfaed;
$mx-color_chateau_green: #26ad5e;
$mx-color_silver_sand: #bec3c7;
$mx-color_boston_blue: #2b84ba;
$mx-color_mystic: #e8edf0;
$mx-color_alto: #d6dcdd;
$mx-color_oslo_gray: #7e8c8d;
$mx-color_vulcan: #161719;
$mx-color_cinnabar: #e94c3d;
$mx-color_loblolly: #c3c8cc;
$mx-color_tuscany: #b36530;
$mx-color_scarpa_flow: #535c69;
$mx-color_mountain_mist: #8f9396;
$mx-color_pickled_bluewood: #34495e;
$mx-color_tiara: #c7cbcd;
$mx-white: #fff;

.mx-itself {
  height: 55px;
  width: 100%;
  background-color: $mx-color_athens_gray;
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  box-shadow: 0 -1px 4px 1px $mx-color_mercury;
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0;
    padding-left: 0;
  }
}

.extension-mx-tab {
  position: absolute;
  width: 100%;
  bottom: 100%;
  left: 0;
  background-color: $mx-color_athens_gray;
  margin-bottom: 3px;
  border: 1px solid $mx-color_orange_white;
  box-shadow: 0 -1px 4px 1px $mx-color_mercury;
}

.mx-control-panel {
  height: 55px;
  min-width: 235px;
  background-color: $mx-color_chateau_green;
  padding: 10px 23px;
  position: relative;
}

.mx-control-panel-items {
  padding: 0;
  li {
    list-style-type: none;
  }
  .active {
    .mx-icon-contact-white {
      background-position: -35px -70px;
    }
    .mx-icon-keypad-white {
      background-position: -35px -33px;
    }
    .mx-icon-recents {
      background-position: -35px 0;
    }
  }
  .mx-icon-contact-white {
    margin-top: 11px;
  }
  .mx-icon-keypad-white {
    margin-top: 5px;
  }
  .mx-icon-recents {
    margin-top: 7px;
  }
}

.mx-toggle-panel {
  padding: 18px 18px 0 0;
  .mx-icon-itself-settings {
    padding-right: 25px;
    margin-right: 7px;
    border-right: 1px solid $mx-color_silver_sand;
  }
}

// CONTACTS

.mx-contacts-wrapper {
  @extend .extension-mx-tab;
  width: 200%;
}

.mx-contacts-header {
  background-color: $mx-color_boston_blue;
  padding: 15px;
}

.mx-contacts-text-tab-header {
  font-size: 18px;
  color: $mx-white;
  line-height: 20px;
  margin-left: 10px;
  float: left;
}

.mx-contacts-icon-close {
  position: absolute;
  top: 4px;
  right: 4px;
}

.mx-contacts-search-wrapper {
  background-color: $mx-color_mystic;
  padding: 12px;
}

.mx-search-form {
  border-radius: 21px;
  border: 1px solid $mx-color_silver_sand;
  text-indent: 21px;
  color: $mx-color_silver_sand;
  font-size: 18px;
  padding: 5px 40px 5px 5px !important;
  outline: none;
  position: relative;
  z-index: 1;
  float: left;
}

.mx-icon-search__contacts {
  float: left;
  position: relative;
  z-index: 2;
  margin-left: -40px;
  margin-top: 6px;
}

.mx-contacts-item-wrapper {
  height: 370px;
  overflow-y: scroll
}

.mx-contacts-item {
  padding: 4px 6px 4px 6px;
  margin-bottom: 8px;
  border-bottom: 1px solid $mx-color_alto;
  position: relative;
}

.mx-contacts-avatar {
  background-color: $mx-color_oslo_gray;
  padding: 23px;
  width: 70px;
  height: 70px;
}

.mx-contacts-name {
  padding-top: 5px;
  font-size: 15px;
  color: $mx-color_vulcan;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mx-contacts-number {
  padding-top: 5px;
  font-size: 14px;
  font-family: 'Oswald', 'Roboto', sans-serif;
  color: $mx-color_cinnabar;
}

.mx-contacts-company-info {
  border-left: 1px solid $mx-color_loblolly;
  margin-left: 5px;
  padding-left: 5px;
}

.mx-contacts-company-group {
  border-bottom: 1px solid $mx-color_alto;
  padding-bottom: 7px;
  color: $mx-color_tuscany;
  text-align: right;
  font-size: 14px;
}

.mx-contacts-company-item {
  padding-top: 15px;
}

.mx-contacts-company-name {
  font-size: 12px;
  color: $mx-color_scarpa_flow;
}

.mx-contacts-company-brand-name {
  font-size: 12px;
  color: $mx-color_mountain_mist;
}

// KEYPAD

.mx-keypad-wrapper {
  @extend .extension-mx-tab;
  padding: 3px;
  .mx-keypad-figure {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    &:hover {
      cursor: pointer;
      background-color: #e8eced;
    }
    &:active {
      box-shadow: inset 0 0 8px 0 #d6dbde;
    }
  }
  span {
    font-size: 32px;
    line-height: 64px;
    color: $mx-color_pickled_bluewood;
  }
}

.mx-keypad-area {
  padding: 0 18px;
  text-align: center;
}

.mx-keypad-number {
  border-bottom: 1px solid #c1c6ca;
  margin-bottom: 3px;
  padding-bottom: 15px;
  text-align: center;
  span {
    font-family: 'Oswald', 'Roboto', sans-serif;
    color: $mx-color_scarpa_flow;
    letter-spacing: 2px;
    text-align: center;
    font-size: 22px;
    line-height: 22px;
  }
}

.mx-keypad-phone {
  min-height: 55px;
  padding: 8px;
}

.mx-keypad-phone__call {
  padding: 4px;
  float: none;
}

// RECENTS

.mx-recents-wrapper {
  @extend .extension-mx-tab;
}

.mx-recents-item {
  padding: 4px 6px;
  border: 1px solid transparent;
  position: relative;
  &:hover {
    border: 1px solid $mx-color_oslo_gray;
  }
}

.mx-recents-avatar {
  background-color: $mx-color_oslo_gray;
  padding: 16px;
  width: 80%;
}

.mx-recents-name {
  padding-top: 5px;
  font-size: 15px;
  color: $mx-color_vulcan;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mx-recents-number {
  padding-top: 5px;
  font-size: 14px;
  font-family: 'Oswald', 'Roboto', sans-serif;
  color: $mx-color_cinnabar;
}

.mx-icon-close-red__top-right {
  position: absolute;
  top: 0;
  right: 0;
}

// INCOMING CALL

.mx-incoming-call-wrapper {
  @extend .extension-mx-tab;
}

.mx-incoming-call-header {
  background-color: $mx-color_chateau_green;
  padding: 15px;
}

.mx-incoming-call-text-tab-header {
  font-size: 20px;
  line-height: 20px;
  color: $mx-white;
  margin-left: 10px;
  text-align: center;
}

.mx-incoming-call-icon-close {
  position: absolute;
  top: 4px;
  right: 4px;
}

.mx-incoming-call-avatar-wrapper {
  padding-top: 15px;
}

.mx-incoming-call-avatar {
  background-color: $mx-color_pickled_bluewood;
  padding: 23px;
  margin-bottom: 15px;
  width: 95px;
  height: 95px;
}

.mx-incoming-call-phone-number {
  color: $mx-color_vulcan;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid $mx-color_silver_sand;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.mx-incoming-call-from {
  text-align: center;
  color: $mx-color_mountain_mist;
  font-size: 12px;
  margin-bottom: 10px;
}

.mx-incoming-call-meta-info {
  text-align: center;
  color: $mx-color_pickled_bluewood;
  font-size: 12px;
  margin-bottom: 15px;
}

.mx-incoming-call-func-buttons-wrapper {
  margin-bottom: 15px;
  .mx-button {
    width: 92%;
    min-height: 32px;
    padding-top: 9px;
    margin: 0 auto;
    position: relative;
  }
  .mx-icon-add-small {
    position: absolute;
    top: 1px;
    left: 6px;
  }
  .mx-icon-phone-white-down-small {
    margin-top: 3px;
  }
  .mx-icon-phone-white-center-medium {
    position: absolute;
    top: -5px;
    left: 10px;
  }
}

.mx-incoming-call-info-buttons-wrapper {
  margin-bottom: 15px;
  .mx-button {
    width: 92%;
    min-height: 32px;
    padding-top: 5px;
    margin: 0 auto;
    position: relative;
  }
}

.mx-incoming-call-button-capture {
  color: $mx-white;
  font-size: 12px;
  text-align: center;
}

// BUTTONS

.mx-button {
  border-radius: 21px;
  &:hover {
    cursor: pointer;
  }
}

.mx-button-transparent {
  background-color: transparent;
  border: 1px solid $mx-color_tiara;
}

.mx-button-green {
  background-color: $mx-color_chateau_green;
}

.mx-button-blue-light {
  background-color: #2881b9;
}

.mx-button-blue-dark {
  background-color: $mx-color_pickled_bluewood;
}

.mx-button-red {
  background-color: $mx-color_cinnabar;
}

// ICONS SPRITE

.mx-icon-recents,
.mx-icon-keypad-white,
.mx-icon-keypad-green,
.mx-icon-contact-white,
.mx-icon-contact-green,
.mx-icon-itself-toggle,
.mx-icon-itself-settings,
.mx-icon-mic,
.mx-icon-add-small,
.mx-icon-phone-white-right-large,
.mx-icon-phone-green-right-large,
.mx-icon-phone-transparent-left-large,
.mx-icon-phone-white-center-medium,
.mx-icon-phone-white-down-small,
.mx-icon-person-large,
.mx-icon-person-small,
.mx-icon-info-def-white,
.mx-icon-info-def-yellow,
.mx-icon-info-def-green,
.mx-icon-info-italic,
.mx-icon-search,
.mx-icon-poi,
.mx-icon-backspace,
.mx-icon-close-red,
.mx-icon-close-white {
  background: url('../img/mx-icons-sprite.png');
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

.mx-icon-recents {
  background-position: -2px 0;
  width: 27px;
  height: 27px;
}

.mx-icon-keypad-white {
  background-position: -1px -32px;
  width: 26px;
  height: 34px;
}

.mx-icon-keypad-green {
  background-position: -35px -33px;
  width: 26px;
  height: 34px;
}

.mx-icon-contact-white {
  background-position: -1px -70px;
  width: 28px;
  height: 18px;
}

.mx-icon-contact-green {
  background-position: -35px -70px;
  width: 28px;
  height: 18px;
}

.mx-icon-itself-toggle {
  background-position: 0 -93px;
  width: 26px;
  height: 21px;
}

.mx-icon-itself-settings {
  background-position: -1px -123px;
  width: 21px;
  height: 20px;
}

.mx-icon-mic {
  background-position: -2px -148px;
  width: 12px;
  height: 22px;
}

.mx-icon-add-small {
  background-position: -1px -176px;
  width: 14px;
  height: 13px;
}

.mx-icon-phone-white-right-large {
  background-position: 0 -199px;
  width: 31px;
  height: 30px;
}

.mx-icon-phone-green-right-large {
  background-position: -32px -200px;
  width: 31px;
  height: 30px;
}

.mx-icon-phone-transparent-left-large {
  background-position: -67px -200px;
  width: 19px;
  height: 31px;
}

.mx-icon-phone-white-center-medium {
  background-position: -90px -205px;
  width: 10px;
  height: 25px;
}

.mx-icon-phone-white-down-small {
  background-position: -102px -220px;
  width: 25px;
  height: 9px;
}

.mx-icon-person-large {
  background-position: -1px -232px;
  width: 46px;
  height: 53px;
}

.mx-icon-person-small {
  background-position: -53px -261px;
  width: 20px;
  height: 23px;
}

.mx-icon-info-def-white {
  background-position: -1px -287px;
  width: 27px;
  height: 27px;
}

.mx-icon-info-def-yellow {
  background-position: -32px -288px;
  width: 27px;
  height: 27px;
}

.mx-icon-info-def-green {
  background-position: -63px -288px;
  width: 27px;
  height: 27px;
}

.mx-icon-info-italic {
  background-position: -95px -294px;
  width: 21px;
  height: 21px;
}

.mx-icon-search {
  background-position: 0 -320px;
  width: 30px;
  height: 24px;
}

.mx-icon-poi {
  background-position: 0 -351px;
  width: 28px;
  height: 34px;
}

.mx-icon-backspace {
  background-position: -2px -388px;
  width: 34px;
  height: 23px;
}

.mx-icon-close-red {
  background-position: 0 -415px;
  width: 16px;
  height: 16px;
}

.mx-icon-close-white {
  background-position: -18px -416px;
  width: 16px;
  height: 16px;
}